


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <div class="container">
    <h1 align="center" class="jumbotron jumbotron-fluid">Welcome To Online Test   Management
      Application</h1>
  <div class="container">
      <nav class="navbar navbar-expand-sm   bg-light  navbar-dark">
        <ul class="nav nav-pills ">
        <li class="nav-item ">
          <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="/add-test">Add Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="/update-test">Update Test</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="/delete-test">Delete Test</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="/get-test">Get Test</a>
  
        </li>
      </ul>
    </nav>
    </div>
    <router-outlet></router-outlet>